@import url("./common.css");
/* :root {
  --button_color: #ff900e;
  --heading_text_color: #131313;
  --paragraph_text_color: #727272;
  --navbar_number_text_color: #424242;
  --heading_text_size: 45px;
  --paragraph_text-size: 16px;
  --heading_font_weight: 700;
  --number_font-weight: 600;
} */
/* ======Navbar CSS===== */
header {
  background-color: #fff4e7;
}
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 3rem;
}
.brand {
  font-weight: var(--heading_font_weight);
  color: var(--heading_text_color);
  font-size: var(--heading_text_size);
}
ul {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
}
ul li a {
  color: var(--navbar_number_text_color);
  font-size: 1.25rem;
  font-weight: 500;
}
/* ======Banner part CSS====== */
#bannerPart {
  background-color: #fff4e7;
}
.bannerTitle {
  padding: 102px 0 60px 0;
  width: 862px;
  margin: 0 auto;
  text-align: center;
}
.bannerTitle h1 {
  font-size: 4rem;
  margin-bottom: 20px;
  color: var(--heading_text_color);
}
#bannerPart img {
  margin-bottom: 45px;
}
/*======Feature part CSS====== */
.teams {
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 10px;
  padding-top: 5.25rem;
  padding-bottom: 8rem;
}
.img-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1.5rem;
}

.features {
  max-width: 537px;
}
/* ======Feature love part css */
#featureLove {
  padding-bottom: 130px;
}
/* ======Soem facts part css */
#factsPart {
  padding-bottom: 180px;
}
.factPara {
  margin-bottom: 100px;
  width: 542px;
}
.factDetails {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.factItems {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
  border: 1px solid #ff900e;
  padding: 45px 36px 59px 36px;
}
.factItems img {
  width: 45px;
  height: 45px;
}
.factItems h2 {
  margin-bottom: 0;
}
/* ======Sponsor part css */
#sponsor {
  padding-bottom: 130px;
}
.sponsorTitle {
  width: 542px;
  margin: 0 auto;
  text-align: center;
}
.sponsorLogo {
  margin-top: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
/* =====Footer part css===== */
.myFooter {
  padding: 40px 0;
  background-color: #fff4e7;
  text-align: center;
}
