@import url("./common.css");

/* ======Navbar CSS===== */
header {
  background-color: #fff4e7;
}
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 3rem;
}
.brand {
  font-weight: var(--heading_font_weight);
  color: var(--heading_text_color);
  font-size: var(--heading_text_size);
}
ul {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3.125rem;
}
ul li a {
  color: var(--navbar_number_text_color);
  font-size: 1.25rem;
  font-weight: 500;
}
/* ======Banner part CSS====== */
#bannerPart {
  background-color: #fff4e7;
}
.bannerTitle {
  padding: 6.375rem 0 3.75rem 0;
  width: 862px;
  margin: 0 auto;
  text-align: center;
}
.bannerTitle h1 {
  font-size: 4rem;
  margin-bottom: 1.25rem;
  color: var(--heading_text_color);
}
#bannerPart img {
  margin-bottom: 2.8125rem;
}
/*======Feature part CSS====== */
.teams {
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 0.625rem;
  padding-top: 5.25rem;
  padding-bottom: 8rem;
}
.img-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1.5rem;
}

.features {
  max-width: 537px;
}
/* ======Feature love part css */
#featureLove {
  padding-bottom: 8.125rem;
}
.featureWrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.featureDetails {
  width: 586px;
}
.featureTitle {
  position: relative;
}
.featureTitle h2::before {
  position: absolute;
  content: "";
  background-color: #ff900e;
  width: 5px;
  height: 106px;
  top: 8px;
  left: -21px;
}
.featureTitle p {
  margin-left: 0;
}
.loveItems {
  margin-top: 1.875rem;
  padding: 1.875rem;
  box-shadow: 0 1.875rem 2.5rem rgb(249, 245, 245);
}
.featureImage {
  position: relative;
}
.featureImage img {
  max-width: 800px;
}
.experience {
  padding: 2.8125rem 2.625rem;
  background-color: #ff900e;
  width: 342px;
  text-align: center;
  color: #ffffff;
  position: absolute;
  bottom: 0;
  left: 0;
}
.experience h1 {
  font-size: 4rem;
  font-weight: 700;
}
.experience p {
  font-size: 1.5rem;
  font-weight: 500;
  color: #ffffff;
}
/* ======Some facts part css */
#factsPart {
  padding-bottom: 11.25rem;
}
.factPara {
  margin-bottom: 6.25rem;
  width: 542px;
}
.factDetails {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.factItems {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.625rem;
  border: 1px solid #ff900e;
  padding: 2.8125rem 2.25rem 3.6875rem 2.25rem;
  width: 241.83px;
}
.factItems img {
  width: 2.8125rem;
  height: 2.8125rem;
}
.factItems h2 {
  margin-bottom: 0;
}
/* ======Sponsor part css */
#sponsor {
  padding-bottom: 8.125rem;
}
.sponsorTitle {
  width: 542px;
  margin: 0 auto;
  text-align: center;
}
.sponsorLogo {
  margin-top: 3.125rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.sponsorLogo img {
  filter: grayscale(100%);
}
/* =====Footer part css===== */
.myFooter {
  padding: 2.5rem 0;
  background-color: #fff4e7;
  text-align: center;
}
